#introduction.text
  Benson the software developer and musician in Melbourne.

#twitter.text
  %h2 What's happening?
  .tweet

= section_header 'Projects', 'prog'

#lunchpicker.text
  %h3 Lunch Picker
  %p
    = link "Lunch Picker", "http://lunch.progriff.com"
    is a simple Rails project for beginners. It also randomize your lunch place! 
    %br
    MIT Licensed. Get the codes
    = link "here", "http://github.com/pugnusferreus/lunchpicker"


#solutionspace.text
  %h3 Solution Space
  %p
    Redesigned the Solution Space Software's 
    = link "website", "http://solution-space.com/" 
    with WordPress and added some jQuery slideshows.

#batchjhaml.text
  %h3 Batch JHaml
  %p
    Sick of Struts layout? Wish you could replace HTML with
    = link "Haml", "http://haml-lang.com/"
    ? 
    = link "Batch JHaml", "http://github.com/pugnusferreus/batchjhaml"
    converts your Haml files to jsp(s) or whatever extension you want.
    
#wamlibrary.text
  %h3 WAM Library
  %p
    A simple library system that I've developed for my local church. Developed using Rails 3. MIT Licensed. 
    Nothing interesting, but if you're interested, here's the 
    = link "Github repo", "http://github.com/pugnusferreus/wamlibrary"
%br
