= section_header 'Personal Programming Projects', 'prog'

#lunchpicker.text
  %h3 Lunch Picker
  %p
    = link "Lunch Picker", "http://lunch.progriff.com"
    is a random lunchpicker. Developed using Rails, Haml and Sass
    %br
    MIT Licensed. Get the codes
    = link "here", "http://github.com/pugnusferreus/lunchpicker"

= section_header 'Music'

.text
  %h3 Gillian Tan

  %p
    = link "Wish I were human", "music/if%20i%20were%20human.mp3"

.text  
  %h3 Ira Deorum

  %p
    = link "Reign of flames", "music/Iradeorum%20-%20reign_of_flames%20-%20levelled.mp3"
    |
    = link "Desert Child", "music/Iradeorum%20-%20desert%20child%20-%20levelled%201c.mp3"
  
.text
  %h3 What The

  %p
    = link "Ben has a thumb","music/01%20Ben%20Has%20A%20Thumb.mp3"
    |
    = link "The Darkness","music/what%20the%20-%20darkness.mp3"
    |
    = link "Death Riding On a Pale Horse","music/what%20the%20-%20death%20on%20horse.mp3"
    |
    = link "Esmeralda","music/what%20the%20-%20esmeralda.mp3"
    %br
    = link "Highway","music/what%20the%20-%20highway.mp3"
    |
    = link "Some Indie Song","music/what%20the%20indie%20song.mp3"
    |
    = link "Walking on sunshine cover","music/what%20the%20-%20darkness.mp3"
    |
    = link "Revenge","music/what%20the%20...%20revenge.mp3"
    
.text
  %h3 Personal Compositions

  %p
    = link "Prog Riff No 1" ,"music/ProgRiffNo1.mp3"
    |
    = link "Prog Riff No 2" , "music/ProgRiffNo2-4.mp3"
    |
    = link "Prog Riff No 2 With Keyboards", "music/ProgRiffNo2-Keyboards.mp3"
    %br
    = link "Prog Riff No 3.0", "music/ProgRiffNo3%20-%20Movement%201%20D%20minor.mp3"
    |
    = link "Prog Riff No 3.1", "music/ProgRiffNo3%20-%20Movement%202%20G%20minor.mp3"
  
