%h2
  = img "prog_banner.png", :alt => 'Personal Programming Projects'

#lunchpicker.text
  %h3 Lunch Picker
  %p
    = link "Lunch Picker", "http://lunchpicker.heroku.com"
    is a random lunchpicker. Developed using Rails, Haml and Sass

%h2 
  = img "music_banner.png", :alt => 'Music'

.text
  %h3 Gillian Tan

  %p
    = link "Wish I were human", "http://pugnusferreus.spawncamp.net/music/if%20i%20were%20human.mp3"

.text  
  %h3 Ira Deorum

  %p
    = link "Reign of flames", "http://pugnusferreus.spawncamp.net/music/Iradeorum%20-%20reign_of_flames%20-%20levelled.mp3"
    |
    = link "Desert Child", "http://pugnusferreus.spawncamp.net/music/Iradeorum%20-%20desert%20child%20-%20levelled%201c.mp3"
  
.text
  %h3 What The

  %p
    = link "Ben has a thumb","http://pugnusferreus.spawncamp.net/music/01%20Ben%20Has%20A%20Thumb.mp3"
    |
    = link "The Darkness","http://pugnusferreus.spawncamp.net/music/what%20the%20-%20darkness.mp3"
    |
    = link "Death Riding On a Pale Horse","http://pugnusferreus.spawncamp.net/music/what%20the%20-%20death%20on%20horse.mp3"
    |
    = link "Esmeralda","http://pugnusferreus.spawncamp.net/music/what%20the%20-%20esmeralda.mp3"
    %br
    = link "Highway","http://pugnusferreus.spawncamp.net/music/what%20the%20-%20highway.mp3"
    |
    = link "Some Indie Song","http://pugnusferreus.spawncamp.net/music/what%20the%20-%20sunshine.mp3"
    |
    = link "Walking on sunshine cover","http://pugnusferreus.spawncamp.net/music/what%20the%20-%20darkness.mp3"
    |
    = link "Revenge","http://pugnusferreus.spawncamp.net/music/what%20the%20...%20revenge.mp3"
  
.text
  %h3 Personal Compositions

  %p
    = link "Prog Riff No 1" ,"http://pugnusferreus.spawncamp.net/music/ProgRiffNo1.mp3"
    |
    = link "Prog Riff No 2" , "http://pugnusferreus.spawncamp.net/music/ProgRiffNo2-4.mp3"
    |
    = link "Prog Riff No 2 With Keyboards", "http://pugnusferreus.spawncamp.net/music/ProgRiffNo2-Keyboards.mp3"
    %br
    = link "Prog Riff No 3.0", "http://pugnusferreus.spawncamp.net/music/ProgRiffNo3%20-%20Movement%201%20D%20minor.mp3"
    |
    = link "Prog Riff No 3.1", "http://pugnusferreus.spawncamp.net/music/ProgRiffNo3%20-%20Movement%202%20G%20minor.mp3"
  
