%h2
  =img "links_banner.png", :alt => 'Links'
  Links
  
#links.text

  %p
    = link "A Mac Junkie whom I met in College", "http://thaweesak.com/"
  %p
    = link "Dirt Secure Chat", "http://dirt.gslabs.com.au/"
    &nbsp; A secure chat by Jason
    
  %p
    = link "Gillian Tan" , "http://gilliantan.weebly.com/"
    &nbsp; A performer, actress and a musician

  %p
    = link "Slashdot", "http://slashdot.org"
    &nbsp; Geek news
 
  %p
    = link "K10k", "http://k10k.net"
    &nbsp; A designer's lunchbox
  
  %p
    = link "Pixel Girl Presents", "http://pixelgirlpresents.com"
    &nbsp; Wallpapers, Icons
    