= section_header 'Links'
  
#links.text

  %h3
    Friends
  %p
    = link "Gillian Tan" , "http://gilliantan.weebly.com/"
    &nbsp; A performer, actress and a musician   
  %p
    = link "Dirt Secure Chat", "http://dirt.gslabs.com.au/"
    &nbsp; A secure chat by 
    = link "Jason Weathered", "http://jasoncodes.com/"
  %p
    = link "Thaweesak", "http://thaweesak.com/"
    &nbsp; A Mac guy whom I knew in college. Check out his blog.
  %p
    = link "Lucas Willett", "http://sevenlights.net"
    &nbsp; Lucas Willett's portfolio
  %h3
    Designs and artsy fartsy stuff
  %p
    = link "Smashing Magazine", "http://www.smashingmagazine.com/" 
    &nbsp; Tutorials, Inspirations and Advice
  %p
    = link "Pixel Girl Presents", "http://pixelgirlpresents.com"
    &nbsp; Wallpapers, Icons
  %p
    = link "Icon Finder", "http://iconfinder.net"
    &nbsp; Search your icons 
  %p
    = link "K10k", "http://k10k.net"
    &nbsp; A designer's lunchbox
  %p
    = link "Icon Factory","http://iconfactory.com"
    &nbsp; Icons and other design inspirations
    
  %h3
    Geeky stuff
  %p
    = link "Slashdot", "http://slashdot.org"
    &nbsp; Geek news
  %p
    = link "OSNews", "http://osnews.com"
    &nbsp; Operating System related news
  %p
    = link "Reddit - Programming", "http://www.reddit.com/r/ruby/"
    &nbsp; Reddit's Ruby Programming Section
  %p
    = link "The server side", "http://www.theserverside.com/"
    &nbsp; If you're into enterprisey things.
  %p
    = link "Free computer science books", "http://www.reddit.com/r/csbooks/"
    &nbsp; Free computer science books. Yes of course it's legal
  
  
  
