!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}

  %head
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title Prog Riff
    %link{ :href=>"/images/favicon.png", :rel=>"icon", :type=>"image/png" }
    = stylesheets
    = javascripts 'jquery-1.3.2.min', 'supersleight.plugin', 'application', 'jquery.jmp3', 'jquery.tweet'
  %body
    #wrap
      .top
        #banner
          #header
            %h1 &nbsp;
      #menu
        %ul
          %li
            = link "Home", "/"
          %li
            = link "Blog", "/blog.html"
          %li
            = link "About", "/about.html"
          %li
            = link "Music", "/music.html"
          %li
            = link "Links", "/links.html"
      
      #content
        = yield

      #footer 
        %p
          &copy; 2011 progriff.com - Contact : benson at progriff.com
       
        %br
